html {
    width: 100%;

    background: url(../img/background-body.jpeg) no-repeat center center fixed; 
    /* background: black; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.div-header-style {
    position: fixed;
    background: rgba(29, 28, 28, 0.596);
    /* background: #c5ebb5a1; */
    width: 100%;
    height: 60px;
}

.flex-div-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-header {
    margin: 0.5%;
}

.item-header {
    width: 60%;
    height: 100%;
}

.flex-div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-div-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-menu {
    /* background: red; */
    margin: 2%;
    height: 80%;
    border-radius: 5px;
    color: #53ec11ec;
    line-height: 100%;
    text-align: center;
}

.item-menu:hover {
    background: #c5ebb5;
    color: black;
}

@-webkit-keyframes backbody {
    0%   {
        background-image: url(../img/recife-letreiro.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%  {background-image: url(../img/Recife-MarcoZero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%  {background-image: url(../img/recife-marco.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    75%  {background-image: url(../img/recife-ilhas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {background-image: url(../img/recife-jcm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

@-moz-keyframes backbody {
    0%   {
        background-image: url(../img/recife-letreiro.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%  {background-image: url(../img/Recife-MarcoZero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%  {background-image: url(../img/recife-marco.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    75%  {background-image: url(../img/recife-ilhas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {background-image: url(../img/recife-jcm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

@-o-keyframes backbody {
    0%   {
        background-image: url(../img/recife-letreiro.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%  {background-image: url(../img/Recife-MarcoZero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%  {background-image: url(../img/recife-marco.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    75%  {background-image: url(../img/recife-ilhas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {background-image: url(../img/recife-jcm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

@keyframes backbody {
    0%   {
        background-image: url(../img/recife-letreiro.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    25%  {background-image: url(../img/Recife-MarcoZero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    50%  {background-image: url(../img/recife-marco.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    75%  {background-image: url(../img/recife-ilhas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {background-image: url(../img/recife-jcm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

.div-sec-lpage {
    width: 100%;
    height: 650px;
}

/* #frist-div {
    background: black;
} */

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#about-me-p {
    margin: 10%;
    text-align: justify;
    background: #53ec11c9;
}

#foto {
    /* background: darkcyan; */
    width: 80%;
    height: 100%;
    object-fit: cover;
    box-shadow: #53ec11ec;
}

.item-div-lpage {
    width: 60%;
    font-size: 20px;
}

/* #side-foto {
    background: lightcoral;
} */

.container-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.borda-texto-destaque {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #53ec11ec;
    color: rgb(46, 46, 46);
}

.special-elite-anime {
    border-right: 2px solid #53ec11ec;
    color: #53ec11ec;
    font-family: 'Special Elite', Helvetica, Arial, sans-serif;
    font-size: 3em;
    margin: 0 auto; 
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms infinite normal, typing 4s steps(40) 1s infinite normal;
}

@keyframes typing {
    0% {
        width: 0;
    }
    70% {
        width: 937px;
    }
    100% {
        width: 937px;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #53ec11ec;
    }
    to {
        border-right-color: transparent;
    }
}

.card {
    color: white;
    width: 60%;
    height: 60%;
    /* background: rgba(124, 124, 124, 0); */
    background: rgba(124, 124, 124, 0.678);
    border-radius: 30px;

    /* margin: auto; */
    padding: 3%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .card:hover {
    background: rgba(124, 124, 124, 1);
    box-shadow: 1px 1px 10px black;
} */

#skills {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about-me {
    /* background: green; */

    -webkit-animation: backbody 25s infinite; /* Safari 4+ */
    -moz-animation:    backbody 25s infinite; /* Fx 5+ */
    -o-animation:      backbody 25s infinite; /* Opera 12+ */
    animation:         backbody 25s infinite; /* IE 10+, Fx 29+ */

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tecnologies-list {
    /* background: rgba(69, 126, 69, 0.336); */
    /* background: tomato; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo-tec {
    width: 160px;
}

.logo-redes {
    width: 40px;
    margin: 5%;
}

#curriculum {
    background-image: url(../img/work-desk.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#link-curriculum {
    background: cornflowerblue;
    width: 28%;
    height: 80%;
    margin-right: 20%;
}

#link-curriculum:hover {
    box-shadow: 1px 1px 1px 2px rgb(107, 94, 94);
    width: 30%;
    height: 82%;
}

#image-link-curriculum {
    width: 100%;
    height: 100%;
}

#portifolio {
    /* background: transparent; */
    width: 100%;
    height: 560px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-portifolio {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item-portifolio {
    background: #53ec11c4;
    border-radius: 15px;
    width: 30%;
    height: 80%;
    padding: 5%;

    text-align: center;
    font-size: inherit;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-portifolio:hover {
    /* background-image: url(https://images.amcnetworks.com/ifccenter.com/wp-content/uploads/2020/01/ghost-in-the-shell-1280.jpg); */
    background-size: cover;
    background-repeat: no-repeat;  

    color: transparent;
    
    width: 50%;
    height: 90%;
}

#project-one:hover {
    background-image: url(../img/projcounter.png);
    background-size: cover;
    background-position: center;
}

#project-two:hover {
    background-image: url(../img/projscrollcards.png);
    background-size: cover;
    background-position: center;
}

#footer {
    color: black;
    background: rgb(14, 177, 35);
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#msg-end {
    /* background: chartreuse; */
    margin-left: 2%;
}

#redes {
    /* background: yellow; */
    width: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}